* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

body {
    background: #FFFFFF;
    color: #000000;
    font-family: 'PoppinsRegular', sans-serif;
    font-size: 8px;
}

.main {
    padding: 15px 0;
}

.container {
    max-width: 555px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 124px);
    grid-template-rows: 124px auto auto auto;
    gap: 20px;
}

.person-image {
    width: 124px;
    height: 124px;
}

.person-image img {
    border-radius: 12px;
    max-width: 100%;
}

.block {
    background-color: #F0F0F0;
    border-radius: 12px;
    padding: 12px;
}

.title {
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 14px;
    margin-bottom: 16px;
}

.brief-hello-phrase {
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 10px;
    margin-bottom: 50px;
}

.brief-name {
    font-family: 'PoppinsSemiBold', sans-serif;
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 125%;
}

.brief-profession {
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 12px;
    color: #5C5C5C;
    line-height: 140%;
}

.brief-hello-phrase,
.brief-name,
.brief-profession,
.languages-item-name,
.languages .title {
    white-space: nowrap;
    overflow: hidden;
}

.languages .title {
    line-height: 142%;
}

.languages {
    grid-column-start: 3;
    grid-column-end: 5;
}

.languages-item {
    display: flex;
    margin-bottom: 10px;
}

.languages-item-name {
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 10px;
    width: 58px;
    line-height: 135%;
}

.languages-progress {
    height: 11px;
    background: #28D979;
    border-radius: 3px;
    margin-left: 17px;
}

.full {
    width: 168px;
}

.part {
    width: 129px;
}

.experience {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    padding-bottom: 0;
}

.experience-item {
    background-color: #FFFFFF;
    margin: 10px 0;
    border-radius: 10px;
    padding: 8px;
    max-width: 387px;
    box-sizing: border-box;
}

.experience-item:first-child, .education-item:first-child {
    background-color: #28D979;
    color: #FFFFFF;
    position: relative;
}

.experience-recent {
    position: absolute;
    text-transform: lowercase;
    font-family: 'PoppinsMedium', sans-serif;
    color: #DDF163;
    box-sizing: border-box;
    padding: 4px 6px;
    width: 61px;
    height: 16px;
    background: rgba(126, 115, 18, 0.4);
    border-radius: 59px;
    top: 8px;
    right: 8px;
}

.period {
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 8px;
    margin-bottom: 12px;
}

.experience-item:first-child .period {
    margin-bottom: 16px;
}

.experience-item-content {
    display: flex;
    margin-top: 4px;
    max-width: 371px;
}

.experience-item-info {
    width: 132px;
}

.experience-item-profession {
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 2px;
}

.experience-item-work_type {
    display: flex;
    align-items: center;
    gap: 8px;
}

.separator {
    height: 7px;
    width: 1px;
    background-color: #000;
    align-self: center;
}

.experience-item:first-child .separator {
    background-color: #EBF9F2;
}

.experience-item-description {
    width: 239px;
    line-height: 150%;
    padding-left: 5px;
}

.experience-item-description-list_items {
    list-style-type: disc;
    list-style-position: inside;
}

.tools {
    grid-column: 4;
    grid-row: 2;
    padding-bottom: 3px;
}

.tools-block {
    background-color: #FFFFFF;
    border-radius: 6px;
    margin: 12px 12px;
    padding: 16px 11px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-auto-rows: 18px;
    justify-items: center;
    align-items: center;
}

.tools-block img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.ai {
    margin-bottom: 0;
}

.design, .no_code, .ai {
    position: relative;
}

.design::before, .no_code::before, .ai::before {
    content: '';
    position: absolute;

    padding: 2px 6px;
    top: -5px;
    background: #000000;
    border-radius: 59px;

    font-family: 'PoppinsMedium', sans-serif;
    font-size: 5px;
    color: #FFFFFF;
    line-height: 142%;
}

.design::before {
    content: 'design';
}

.no_code::before {
    content: 'no-code';
}

.ai::before {
    content: 'artificial intelligence';
}


.education {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-right: 8px;
}

.education-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    column-gap: 16px;
    row-gap: 12px;
}

.education-item {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 11px 8px 8px 8px;
}

.education-item-date {
    margin-bottom: 16px;
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 10px;
}

.education-item-speciality {
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 10px;
    line-height: 150%;
}

.education-item-hashtag {
    line-height: 150%;
    color: #149063;
    margin-bottom: 11px;
}

.education-item:first-child .education-item-hashtag {
    color: #EBF9F2;
}

.education-favorite {
    position: absolute;
    top: 9px;
    right: 8px;
}

.interests {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 3;
}

.interests-items {
    max-width: 243px;
}

.interests-item {
    display: inline-block;
    padding: 4px 10px;
    margin: 4px;
    background: #FFFFFF;
    border-radius: 40px;
    font-size: 10px;
    line-height: 150%;
}

.contacts {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 4;
    background-color: #000;
}

.title-contacts {
    color: #FFFFFF;
    line-height: 150%;
}

.contacts-email {
    font-size: 10px;
    color: #DDDDDD;
}

.button {
    background-color: #28D979;
    width: 70px;
    height: 30px;
    color: #FFFFFF;
    font-size: 10px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    transition: background-color 0.2s ease;
}

.button:hover {
    cursor: pointer;
    background-color: #219757;
}


[contenteditable="true"] {
    outline: none;
    transition: box-shadow 0.3s ease;

}

[contenteditable="true"]:focus {
    box-shadow: 0 0 0 2px #576e34;
}
